small {
  visibility: hidden;
}

#id_username, #id_password1, #id_email, #id_password2 {
  margin-top: 20px;
  margin-left: 30%;
  height: 35px;
  width: 250px;
}

.requiredField {
  font-size: 20px;
  margin-left: 30%;
}
