{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/show_todos.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/create_todo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/show_tasks.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
  <title>{% block title %}My Website{% endblock title %}</title>
</head>
<header>
  <h2 id='ola'>Olá, {% block user %}Visitante{% endblock user %}</h2>
  <a id='logo' href="/">ToDo App</h2>
  {% if user.is_authenticated %}
  <a id='sair' href='/acc/logout'>Sair</a>
  {% else %}
  <a id='entrar' href='/accounts/login'>Entrar</a>
  <a id='cadastrar' href="/register">Cadastrar</a>
  {% endif %}
</header>
<body>

  <div id="content" name="content">
    <h2 id='entrar-login'>
      {% if not user.is_authenticated %}
        Entrar
      {% endif %}
    </h2>
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>
